/* Reset CSS */
* {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

h1, h2, h3{
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

button{
    border: none;
    font: inherit;
    background-color: #000;
}

img{
    vertical-align: middle;
}

#main{
    
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}


#header .header-list > a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#header .header-item{
    float: left;
}

#header .dropdown-hover{
    position: static;
    display: inline-block;
}

#header .button{
    text-transform: uppercase;
    color: #fff ;
    padding: 12px 24px;
    cursor: pointer;
}

#header .dropdown-content{
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    display: none;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
}

#header .dropdown-content a{
    color: #000 !important;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

#header .search{
    float: right;
}

#header .search:hover {
    background-color: #f33;
    cursor: pointer;
}

#header .search-icon {
    color: white;
    padding: 15px 20px;
}
/*---------------END: header list------------------*/

/*--------------- content ------------------*/
#content{
    margin-top: 46px;
}

#slider{
    display: block;
    position: relative;
}

#slider .slider-img{
    width: 100%;
}

#slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 32px 16px;
    left: 50%;
    transform: translate(-50%, 0);
}

#slider .text-heading{
    text-align: center;
    font-size: 24px;
}

#slider .text-description{
    margin: 15px 0;
    font-size: 15px;
    text-align: center;
}
/* ----------------------------------------------------- */
/* -----------------------END slider--------------------*/
#container{
    height: 10000px;
    /* max-width: 980px; */
}

#container .content-section{
    width: 800px;
    text-align: center;
    padding: 64px 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;;
}

#container .section-heading{
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#container .opacity{
    opacity: 0.6;
}

#container .content-description{
    text-align: justify;
    max-width: 800px;
}

#container .member-list{
    padding: 32px 0;
    overflow: hidden;
}

#container .member-item{
    width: calc(100/3);
    float: left;
}

#container .member-img{
    width: 60%;
    margin-bottom: 16px;
    border-radius: 4px;
}

#footer{
    
}


/*-----------------hover--------------*/

 /* hover tag header and more */
.dropdown-hover:hover .button,
.header-list > a:hover,
.dropdown-content > a:hover{
    background-color: #ccc !important;
    color: #000 !important;
}

#header .dropdown-hover:hover .dropdown-content{
    display: block;
    text-transform: uppercase;
    color: #000 !important;
}

/*-------------end hover-------------*/