* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* z-index: 6; */
}

html{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-align: center;
    background-color: rgb(93, 182, 246);
}

body{
    min-width: 400px;
    margin: 0 auto;
    padding-bottom: 25px;
}

#textSliderValue {
    color: rgb(135, 77, 222);
}

range {
    color: rgb(41, 104, 158);
}