* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* z-index: 6; */
}

html{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-align: center;
}

body{
    min-width: 400px;
    margin: 0 auto;
    padding-bottom: 25px;
}